* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2';
}

.buttonContainer {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.button { 
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    padding: 20px 40px;
    border-radius: 8px;
    color: #212121;
    font-size: 25px;
    font-weight: 700;
    margin: 0 15px;
    transition: 0.5s;
}

.button-1 {
    color: #ffcE00;
    border: 3px solid #FFCE00;
}

.button-1:hover {
    color: #FFF;
    border: 3px solid #FFCE00;
    background-color: #FFCE00;
}

.button-2 {
    color: #FE4880;
    border: 3px solid #FE4880;
    background-image: linear-gradient(to right, transparent 50%, #FE4880 50%);
    background-size: 200%;
    background-position: 0%;
}
.button-2:hover {
    color: #FFF;
    background-position: 100%;
}

.button-3 {
    color: #68dea0;
    border: 3px solid #68dea0;
    background-image: linear-gradient(to top, transparent 50%, #68dea0 50%);
    background-size: 100% 200%;
    background-position: 0% 100%;
}
.button-3:hover {
    color: #FFF;
    background-position: 0% 0%;
}

.button-4 {
    color: #fff;
    background-color: #68A0DE;
    box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, 0.2);
    transition: 0.1s;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.2);
}

.button-4:hover {
    box-shadow: inset 0 -6px 0 0 rgba(0, 0, 0, 0.2);
}

.button-4:active {
    box-shadow:inset 0 -1px rgba(0, 0, 0, 0.2);
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.button-5 {
    position: relative;
}

.button-5:after, .button-5:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    transition: all 0.1s, opacity 0.1s 0.4s;
    opacity: 0;
}

.button-5:after {
    bottom: 0;
    right: 0;
    border-bottom: 3px solid #212121;
    border-right: 3px solid #212121;
}

.button-5:before {
    top: 0;
    left: 0;
    border-left: 3px solid #212121;
    border-top: 3px solid #212121;
}

.button-5:hover:after, .button-5:hover:before {
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    transition: 0.4s, opacity 0.1s;
    opacity: 1;
}

.button-6 {
    position: relative;
}

.button-6:after, .button-6:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    transition: all 0.1s, opacity 0.1s 0.4s;
    opacity: 0;
}

.button-6:after {
    bottom: 0;
    right: 0;
    border-bottom: 3px solid #212121;
    border-right: 3px solid #212121;
}

.button-6:before {
    top: 0;
    left: 0;
    border-left: 3px solid #212121;
    border-top: 3px solid #212121;
}

.button-6:hover:after, .button-6:hover:before {
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    transition: 0.4s, opacity 0.1s;
    opacity: 1;
}